/*needed to change background color to body for better color combo*/
body {
    background-color: #d5f1f8;
}

/*changing nav bar colors */
.bg-primary {
    background-color: #07575b !important;
  }

/*change font color to standout more*/
body {
font-family: 'Space Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
padding-top: 54px;
color: black;
}

/*actuall only changes colloging and size of one text*/
.text-primary {
    color:#003b46 !important;
  }

/*change hover color and fucntionality for social media icons*/
.social-icons a:hover {
    background-color:#07575B;
color: white !important;
box-shadow: 0 0 15px #07575B;
text-shadow: 0 0 15px #07575B;
}

/*changed hover color for developer icons*/
.dev-icons .list-inline-item i:hover {
    color: #07575B
}

/*customize email color on top of index page*/
a {
    color: #336b87;
}

/*change color when hovering over email*/
a:hover, a:focus, a:active {
    color: #003b46;
  }

/*change large text last name color */
.custom-text-primary{
    color: #336b87;
}

/*make sidebar links uppercase */
#sideNav .navbar-nav .new_nav_link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: rgba(255,255,255,.5);
  }
/* 
#sideNav .new_nav_link:focus {
outline-color: #d48a6e; */

/*trying to fix the padding for the sidebar*/
/* @media (min-width: 992px) {
    #sideNav {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh;
    }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
      max-width: 10rem;
      max-height: 10rem;
      border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
      display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
      display: block;
    }
  } */